.document-main {
  font-size: 18px;
  line-height: 1.7em; }
  .document-main img {
    width: 100%; }
  .document-main h1, .document-main h2, .document-main h3, .document-main h4, .document-main h5, .document-main h6 {
    position: relative; }
    .document-main h1 .doc-link, .document-main h2 .doc-link, .document-main h3 .doc-link, .document-main h4 .doc-link, .document-main h5 .doc-link, .document-main h6 .doc-link {
      display: none;
      color: #000000;
      vertical-align: center;
      position: absolute;
      top: 0;
      left: 0; }
      .document-main h1 .doc-link::before, .document-main h2 .doc-link::before, .document-main h3 .doc-link::before, .document-main h4 .doc-link::before, .document-main h5 .doc-link::before, .document-main h6 .doc-link::before {
        content: '\3a6'; }
    .document-main h1:hover .doc-link, .document-main h2:hover .doc-link, .document-main h3:hover .doc-link, .document-main h4:hover .doc-link, .document-main h5:hover .doc-link, .document-main h6:hover .doc-link {
      display: inline-block; }
    .document-main h1 .anchor, .document-main h2 .anchor, .document-main h3 .anchor, .document-main h4 .anchor, .document-main h5 .anchor, .document-main h6 .anchor {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      display: block;
      padding-right: 6px;
      padding-left: 30px;
      margin-left: -30px; }

