@font-face {
  font-family: octicons-anchor;
  src: url(data:font/woff;charset=utf-8;base64,d09GRgABAAAAAAYcAA0AAAAACjQAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAABMAAAABwAAAAca8vGTk9TLzIAAAFMAAAARAAAAFZG1VHVY21hcAAAAZAAAAA+AAABQgAP9AdjdnQgAAAB0AAAAAQAAAAEACICiGdhc3AAAAHUAAAACAAAAAj//wADZ2x5ZgAAAdwAAADRAAABEKyikaNoZWFkAAACsAAAAC0AAAA2AtXoA2hoZWEAAALgAAAAHAAAACQHngNFaG10eAAAAvwAAAAQAAAAEAwAACJsb2NhAAADDAAAAAoAAAAKALIAVG1heHAAAAMYAAAAHwAAACABEAB2bmFtZQAAAzgAAALBAAAFu3I9x/Nwb3N0AAAF/AAAAB0AAAAvaoFvbwAAAAEAAAAAzBdyYwAAAADP2IQvAAAAAM/bz7t4nGNgZGFgnMDAysDB1Ml0hoGBoR9CM75mMGLkYGBgYmBlZsAKAtJcUxgcPsR8iGF2+O/AEMPsznAYKMwIkgMA5REMOXicY2BgYGaAYBkGRgYQsAHyGMF8FgYFIM0ChED+h5j//yEk/3KoSgZGNgYYk4GRCUgwMaACRoZhDwCs7QgGAAAAIgKIAAAAAf//AAJ4nHWMMQrCQBBF/0zWrCCIKUQsTDCL2EXMohYGSSmorScInsRGL2DOYJe0Ntp7BK+gJ1BxF1stZvjz/v8DRghQzEc4kIgKwiAppcA9LtzKLSkdNhKFY3HF4lK69ExKslx7Xa+vPRVS43G98vG1DnkDMIBUgFN0MDXflU8tbaZOUkXUH0+U27RoRpOIyCKjbMCVejwypzJJG4jIwb43rfl6wbwanocrJm9XFYfskuVC5K/TPyczNU7b84CXcbxks1Un6H6tLH9vf2LRnn8Ax7A5WQAAAHicY2BkYGAA4teL1+yI57f5ysDNwgAC529f0kOmWRiYVgEpDgYmEA8AUzEKsQAAAHicY2BkYGB2+O/AEMPCAAJAkpEBFbAAADgKAe0EAAAiAAAAAAQAAAAEAAAAAAAAKgAqACoAiAAAeJxjYGRgYGBhsGFgYgABEMkFhAwM/xn0QAIAD6YBhwB4nI1Ty07cMBS9QwKlQapQW3VXySvEqDCZGbGaHULiIQ1FKgjWMxknMfLEke2A+IJu+wntrt/QbVf9gG75jK577Lg8K1qQPCfnnnt8fX1NRC/pmjrk/zprC+8D7tBy9DHgBXoWfQ44Av8t4Bj4Z8CLtBL9CniJluPXASf0Lm4CXqFX8Q84dOLnMB17N4c7tBo1AS/Qi+hTwBH4rwHHwN8DXqQ30XXAS7QaLwSc0Gn8NuAVWou/gFmnjLrEaEh9GmDdDGgL3B4JsrRPDU2hTOiMSuJUIdKQQayiAth69r6akSSFqIJuA19TrzCIaY8sIoxyrNIrL//pw7A2iMygkX5vDj+G+kuoLdX4GlGK/8Lnlz6/h9MpmoO9rafrz7ILXEHHaAx95s9lsI7AHNMBWEZHULnfAXwG9/ZqdzLI08iuwRloXE8kfhXYAvE23+23DU3t626rbs8/8adv+9DWknsHp3E17oCf+Z48rvEQNZ78paYM38qfk3v/u3l3u3GXN2Dmvmvpf1Srwk3pB/VSsp512bA/GG5i2WJ7wu430yQ5K3nFGiOqgtmSB5pJVSizwaacmUZzZhXLlZTq8qGGFY2YcSkqbth6aW1tRmlaCFs2016m5qn36SbJrqosG4uMV4aP2PHBmB3tjtmgN2izkGQyLWprekbIntJFing32a5rKWCN/SdSoga45EJykyQ7asZvHQ8PTm6cslIpwyeyjbVltNikc2HTR7YKh9LBl9DADC0U/jLcBZDKrMhUBfQBvXRzLtFtjU9eNHKin0x5InTqb8lNpfKv1s1xHzTXRqgKzek/mb7nB8RZTCDhGEX3kK/8Q75AmUM/eLkfA+0Hi908Kx4eNsMgudg5GLdRD7a84npi+YxNr5i5KIbW5izXas7cHXIMAau1OueZhfj+cOcP3P8MNIWLyYOBuxL6DRylJ4cAAAB4nGNgYoAALjDJyIAOWMCiTIxMLDmZedkABtIBygAAAA==) format('woff'); }

.document-main {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #333;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  word-wrap: break-word; }

.document-main a {
  background: transparent; }

.document-main a:active, .document-main a:hover {
  outline: 0; }

.document-main strong {
  font-weight: bold; }

.document-main h1 {
  font-size: 2em;
  margin: 0.67em 0; }

.document-main img {
  border: 0; }

.document-main hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

.document-main pre {
  overflow: auto; }

.document-main code, .document-main kbd, .document-main pre {
  font-family: monospace, monospace;
  font-size: 1em; }

.document-main input {
  color: inherit;
  font: inherit;
  margin: 0; }

.document-main html input[disabled] {
  cursor: default; }

.document-main input {
  line-height: normal; }

.document-main input[type="checkbox"] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

.document-main table {
  border-collapse: collapse;
  border-spacing: 0; }

.document-main td, .document-main th {
  padding: 0; }

.document-main * {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.document-main input {
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; }

.document-main a {
  color: #4183c4;
  text-decoration: none; }

.document-main a:hover, .document-main a:active {
  text-decoration: underline; }

.document-main hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd; }

.document-main hr:before {
  display: table;
  content: ""; }

.document-main hr:after {
  display: table;
  clear: both;
  content: ""; }

.document-main h1, .document-main h2, .document-main h3, .document-main h4, .document-main h5, .document-main h6 {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.1; }

.document-main h1 {
  font-size: 30px; }

.document-main h2 {
  font-size: 21px; }

.document-main h3 {
  font-size: 16px; }

.document-main h4 {
  font-size: 14px; }

.document-main h5 {
  font-size: 12px; }

.document-main h6 {
  font-size: 11px; }

.document-main blockquote {
  margin: 0; }

.document-main ul, .document-main ol {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0; }

.document-main ol ol, .document-main ul ol {
  list-style-type: lower-roman; }

.document-main ul ul ol, .document-main ul ol ol, .document-main ol ul ol, .document-main ol ol ol {
  list-style-type: lower-alpha; }

.document-main dd {
  margin-left: 0; }

.document-main code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px; }

.document-main pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace; }

.document-main .octicon {
  font: normal normal 16px octicons-anchor;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.document-main .octicon-link:before {
  content: '\f05c'; }

.document-main > *:first-child {
  margin-top: 0 !important; }

.document-main > *:last-child {
  margin-bottom: 0 !important; }

.document-main .anchor {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  padding-right: 6px;
  padding-left: 30px;
  margin-left: -30px; }

.document-main .anchor:focus {
  outline: none; }

.document-main h1, .document-main h2, .document-main h3, .document-main h4, .document-main h5, .document-main h6 {
  position: relative;
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.4; }

.document-main h1 .octicon-link, .document-main h2 .octicon-link, .document-main h3 .octicon-link, .document-main h4 .octicon-link, .document-main h5 .octicon-link, .document-main h6 .octicon-link {
  display: none;
  color: #000;
  vertical-align: middle; }

.document-main h1:hover .anchor, .document-main h2:hover .anchor, .document-main h3:hover .anchor, .document-main h4:hover .anchor, .document-main h5:hover .anchor, .document-main h6:hover .anchor {
  padding-left: 8px;
  margin-left: -30px;
  text-decoration: none; }

.document-main h1:hover .anchor .octicon-link, .document-main h2:hover .anchor .octicon-link, .document-main h3:hover .anchor .octicon-link, .document-main h4:hover .anchor .octicon-link, .document-main h5:hover .anchor .octicon-link, .document-main h6:hover .anchor .octicon-link {
  display: inline-block; }

.document-main h1 {
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee; }

.document-main h1 .anchor {
  line-height: 1; }

.document-main h2 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid #eee; }

.document-main h2 .anchor {
  line-height: 1; }

.document-main h3 {
  font-size: 1.5em;
  line-height: 1.43; }

.document-main h3 .anchor {
  line-height: 1.2; }

.document-main h4 {
  font-size: 1.25em; }

.document-main h4 .anchor {
  line-height: 1.2; }

.document-main h5 {
  font-size: 1em; }

.document-main h5 .anchor {
  line-height: 1.1; }

.document-main h6 {
  font-size: 1em;
  color: #777; }

.document-main h6 .anchor {
  line-height: 1.1; }

.document-main p, .document-main blockquote, .document-main ul, .document-main ol, .document-main dl, .document-main table, .document-main pre {
  margin-top: 0;
  margin-bottom: 16px; }

.document-main hr {
  height: 4px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none; }

.document-main ul, .document-main ol {
  padding-left: 2em; }

.document-main ul ul, .document-main ul ol, .document-main ol ol, .document-main ol ul {
  margin-top: 0;
  margin-bottom: 0; }

.document-main li > p {
  margin-top: 16px; }

.document-main dl {
  padding: 0; }

.document-main dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold; }

.document-main dl dd {
  padding: 0 16px;
  margin-bottom: 16px; }

.document-main blockquote {
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd; }

.document-main blockquote > :first-child {
  margin-top: 0; }

.document-main blockquote > :last-child {
  margin-bottom: 0; }

.document-main table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all; }

.document-main table th {
  font-weight: bold; }

.document-main table th, .document-main table td {
  padding: 6px 13px;
  border: 1px solid #ddd; }

.document-main table tr {
  background-color: #fff;
  border-top: 1px solid #ccc; }

.document-main table tr:nth-child(2n) {
  background-color: #f8f8f8; }

.document-main img {
  max-width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.document-main code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px; }

.document-main code:before, .document-main code:after {
  letter-spacing: -0.2em;
  content: "\00a0"; }

.document-main pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0; }

.document-main .highlight {
  margin-bottom: 16px; }

.document-main .highlight pre, .document-main pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px; }

.document-main .highlight pre {
  margin-bottom: 0;
  word-break: normal; }

.document-main pre {
  word-wrap: normal; }

.document-main pre code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0; }

.document-main pre code:before, .document-main pre code:after {
  content: normal; }

.document-main kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb; }

.document-main .pl-c {
  color: #969896; }

.document-main .pl-c1, .document-main .pl-mdh, .document-main .pl-mm, .document-main .pl-mp, .document-main .pl-mr, .document-main .pl-s1 .pl-v, .document-main .pl-s3, .document-main .pl-sc, .document-main .pl-sv {
  color: #0086b3; }

.document-main .pl-e, .document-main .pl-en {
  color: #795da3; }

.document-main .pl-s1 .pl-s2, .document-main .pl-smi, .document-main .pl-smp, .document-main .pl-stj, .document-main .pl-vo, .document-main .pl-vpf {
  color: #333; }

.document-main .pl-ent {
  color: #63a35c; }

.document-main .pl-k, .document-main .pl-s, .document-main .pl-st {
  color: #a71d5d; }

.document-main .pl-pds, .document-main .pl-s1, .document-main .pl-s1 .pl-pse .pl-s2, .document-main .pl-sr, .document-main .pl-sr .pl-cce, .document-main .pl-sr .pl-sra, .document-main .pl-sr .pl-sre, .document-main .pl-src {
  color: #df5000; }

.document-main .pl-mo, .document-main .pl-v {
  color: #1d3e81; }

.document-main .pl-id {
  color: #b52a1d; }

.document-main .pl-ii {
  background-color: #b52a1d;
  color: #f8f8f8; }

.document-main .pl-sr .pl-cce {
  color: #63a35c;
  font-weight: bold; }

.document-main .pl-ml {
  color: #693a17; }

.document-main .pl-mh, .document-main .pl-mh .pl-en, .document-main .pl-ms {
  color: #1d3e81;
  font-weight: bold; }

.document-main .pl-mq {
  color: #008080; }

.document-main .pl-mi {
  color: #333;
  font-style: italic; }

.document-main .pl-mb {
  color: #333;
  font-weight: bold; }

.document-main .pl-md, .document-main .pl-mdhf {
  background-color: #ffecec;
  color: #bd2c00; }

.document-main .pl-mdht, .document-main .pl-mi1 {
  background-color: #eaffea;
  color: #55a532; }

.document-main .pl-mdr {
  color: #795da3;
  font-weight: bold; }

.document-main kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb; }

.document-main .task-list-item {
  list-style-type: none; }

.document-main .task-list-item + .task-list-item {
  margin-top: 3px; }

.document-main .task-list-item input {
  float: left;
  margin: 0.3em 0 0.25em -1.6em;
  vertical-align: middle; }

.document-main :checked + .radio-label {
  z-index: 1;
  position: relative;
  border-color: #4183c4; }

.document-nav nav {
  position: fixed; }

